@import "tailwindcss";

@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --breakpoint-3xl: 120rem;
}

body {
  font-family: var(--font-jakarta), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}